{% extends "clientes/base.html" %}

{% block content %}
<h2>Clientes</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Tipo</th>
            <th>Criado em</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.get_tipo_display }}</td>
            <td>{{ cliente.criado_em }}</td>
            <td>
                {% if cliente.ativo %}
                    Ativo
                {% else %}
                    Inativo
                {% endif %}
            </td>
            <td>
                {% if cliente.ativo %}
                    <a href="{% url 'inativar_cliente' cliente.id %}">Inativar</a>
                {% else %}
                    <a href="{% url 'reativar_cliente' cliente.id %}">Reativar</a>
                {% endif %}
                </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Nenhum cliente encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
